.tooltip {
    position: absolute;
    z-index: 100;
    overflow: visible;
    background-color: #ffffff;
    padding: 2px;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
}

